body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

#visible {
  display: flex;
  position: relative;
  top: -33px;
  left: 180px;
}

#invisible {
  display: none;
  position: relative;
  top: -33px;
  left: 180px;
}
