<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>

    <div class="container mt-5">
        <div class="jumbotron">
            <h1 class="display-4">Connexion</h1>
            <p class="lead">Connectez-vous</p>
            <hr class="my-4">
            <p class="lead">
            <form action="/login" method="post" class="">
                <label for="email" class="form-label">Email: <input type="email" name="email" id="email"
                        class="form-control" required></label><br>
                <p>
                    <%=message%>
                </p>
                <label for="password" class="form-label">Mot de passe: <input type="password" name="password"
                        id="password" class="form-control" required></label><i id="visible" class="bi bi-eye"></i><i
                    id="invisible" class="bi bi-eye-slash"></i><br>
                <input type="submit" value="Se connecter" class="btn btn-primary mb-3"><br>
                <a class="btn btn-success" href="/signup" role="button">Créer un compte</a>
            </form>
            </p>
        </div>
    </div>
    <script src="/javascripts/script.js"></script>
</body>

</html>