body {
  margin: 0;
  padding: 25px;
  box-sizing: border-box;
  background: rgb(102, 109, 205);
  display: flex;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
}

nav p {
  color: gold;
}

nav a {
  text-decoration: none;
  color: white;
}

main {
  width: 100%;
  padding: 25px;
  margin-left: 5px;
  background: white;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}
