table {
  text-align: center;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.customer {
  background-color: rgb(102, 109, 205);
}
a {
  text-decoration: none;
  color: white;
}
td {
  color: white;
}
img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
h1 {
  text-align: center;
}
