* {
  color: rgb(102, 109, 205);
}

form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 700px;
}
div {
  display: flex;
  flex-direction: row;
  gap: 30px;
  width: 100%;
}
select {
  width: 70%;
}
#nom_produit {
  margin-left: 200px;
}
#quantite_produit {
  margin-left: 250px;
}
img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
