table {
  text-align: center;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}
.alerte {
  background-color: red;
}
.stockOk {
  background-color: green;
}
img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
h1,
th {
  text-align: center;
  color: rgb(102, 109, 205);
}
